.add-user-form {
    background-color: rgb(219, 213, 201);
    padding: 0.7rem 0.4rem;
    margin: 1rem;
    max-width: 26rem;
    min-width: 260px;
    fieldset, label, input, button {
        color: rgb(31, 53, 94);
    }

    button {
        background-color: white;
        border: 1px solid bisque
    }

    :nth-child(3), :nth-child(5), :nth-child(6), :nth-child(8) {
        margin: 0.3rem 0;
        display: block;
    }

    :nth-child(6) {
        margin-top: 0.6rem;
    }

    & :nth-child(5){
        max-width: 2.5rem;
        display: block;
    }

    :nth-child(6) {
        display: inline-block;
    }

    :nth-child(7){
        position: relative;
        top: 0.1rem;
    }

    & {
        padding-top: 0.3rem;
    }
}