/* ------------------------ */
/* || THEME */
/* ------------------------ */

:root {
  /* Colours */
  --bg-primary: aliceblue;
  --bg-secondary: white;
  --clr-green: green;

  /* Layout */
  --content-margin: 1rem;
  --content-width: 50rem;
  --form-width: 50rem;
}

/* ------------------------ */
/* || GLOBAL STYLES */
/* ------------------------ */
html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: var(--bg-primary, aliceblue);
  color: var(--clr-dark, black);
  padding-block: 2rem 4rem;
}

main {
  width: max-content;
  margin: 0 auto;
}

h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-decoration: underline;
}

/* ------------------------ */
/* || COMPOSITION */
/* ------------------------ */
/* Central content */
.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--content-margin, 1rem), 1fr)
    [content-start] auto [content-end]
    minmax(var(--content-margin, 1rem), 1fr) [full-width-end];
  grid-template-rows: auto 1fr;
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
}

/* Misc layout */
.flow > * + * {
  margin-block-start: 1rem;
}

.container {
  container-type: inline-size;
}

.justify-self-start {
  justify-self: start;
}

/* ------------------------ */
/* || UTILITY */
/* ------------------------ */
.no-border {
  border: none;
}

/* ------------------------ */
/* || BLOCK */
/* ------------------------ */
#student-catalog {
  display: grid;
  grid-template-columns: 1fr;
  width: max-content;
}

.form {
  display: grid;
  width: max-content;

  > fieldset {
    display: inline-block;
    gap: 0.5rem;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;

    > * {
      margin-inline-start: 1rem;
    }

    > :nth-child(2) {
      margin-inline-start: 0;
    }
  }

  button {
    background-color: var(--clr-green, green);
    color: white;
    padding: 0.1rem 0.25rem;
    border-radius: 0.5rem;
  }
}

#student-ul {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr auto;
  gap: 0.5em;
  width: 100%;
  padding-inline: 1rem;
}

.student-list__item {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  justify-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
}

/* ------------------------ */
/* || EXCEPTION */
/* ------------------------ */
.student-list__heading {
  font-weight: bold;
  background: none;
}
